<div class="card">
		<div class="table-responsive white">
			<h3 class="table-title p-20">Change Password</h3>
			<div class="page-header clearfix">
				<form ng-controller="PasswordController">
					<div class="col-md-6">
						<div class="row">
							<div class="form-group col-xs-6">
								<label class="control-label">Old Password</label>
								<input type="password" class="form-control" ng-model="form.old_password" required>
								<span ng-message-exp="errors.old_password" class="help-inline" ng-bind="errors.old_password"></span>
							</div>
							<div class="form-group col-xs-6">
								<label class="control-label">New Password</label>
								<input type="password" class="form-control" ng-model="form.new_password" required>
								<span ng-message-exp="errors.new_password" class="help-inline" ng-bind="errors.new_password"></span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-6">
								<button class="btn btn-primary" ng-click="changePassword()">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>
