@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "admin_menu";

@import "admin/theme/materialism";

@import "alerts";

.container-main {
	padding-top: 50px;
}

@media (max-width: $screen-sm) {
	.container-main {
		padding-top: 0;
	}
}

.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}

.modal-backdrop.am-fade {
	opacity: .5;
	transition: opacity .15s linear;
	&.ng-enter {
		opacity: 0;
		&.ng-enter-active {
			opacity: .5;
		}
	}
	&.ng-leave {
		opacity: .5;
		&.ng-leave-active {
			opacity: 0;
		}
	}
}



