/* Header Styles */

header {
	background: #ffffff;
	z-index: $zindex-navbar-fixed;
	position: fixed;
	@include size(100%, 68px);
	padding-left: 55px;
	border-bottom: 1px solid #F4F4F4;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.13);
	font-weight: 400;
	top: 0; 
	ul {margin-bottom: 0;}
	a {
		color: #888888;
		&:hover {
			color: darken(#888888, 20%);
		}
	}
	> .logo {
		float: left;
		line-height: 68px;
		a {display: inline-block}
		img {width: 100px;}
		@include max-width($screen-md-min){
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
			z-index: 1;
			width: 100px;
			img {width: 100px;}
		}
	}
}
.main-menu {
	float: left;
	ul {
		display: table;
		@include size(100%, 68px);
		margin-left: 70px;
		@include max-width(1200px){
			margin-left: 20px;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			a {
				display: table-cell;
				vertical-align: middle;
				position: relative;
				height: 68px;
				padding: 0 23px;
				@include max-width($container-lg){
					padding: 0 15px;
					font-size: 13px;
				}

				&:after {
					content: "";
					position: absolute;
					right: 0;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 3px;
					background: transparent;
					transition: all .2s ease-in-out;
				}
				&:hover {
					color: #333333;
					&:after {
						background: lighten($gray-light, 30%);
					}
				}
				&.active {
					color: #333333;
					&:after {
						background: #009fd2;
					}
				}
			}
			&.li-mobile {
				display: none;
				> a {
					color: #333333;
				}
				@include max-width($screen-md-min){
					display: block;
				}
			}
		}
		&.mobile {
			height: auto;
			display: none;
			.user-logged {
				> div {
					text-align: center;
					img {
						border-radius: 100%;
						@include size(50px, 50px);
					}
					p {
						margin: 0;
					}
				}
			}
			@include max-width($screen-md-min){
				display: block;
			}

		}
	}
	// Menu mobile
	@include max-width($screen-md-min){
		background: #ffffff;
		position: fixed;
		left: -100%;
		@include size(100%, 100%);
		max-width: 290px;
		overflow-y: auto;
		z-index: 1;
    	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.13);
    	transition: .4s all ease-out;
    	&.is-visible {
    		left: 0;
		   	&:before {
			    content: "";
			    position: fixed;
			    @include size(100%,100%);
			    left: 0;
			    z-index: -1;
			}
    	}
		ul {
			margin: 0;
			//height: 100%;
			li {
				display: block;
				border-bottom: 1px solid #F9F9F9;
				a {
					display: block;
				    height: auto;
				    padding: 22px;
				}
			}
		}
	}
}
//Mobile menu button
.mobile-menu-btn {
	display: none;
	position: absolute;
	left: 10px;
	top: 18px;
	font-size: 18px;
	@include max-width($screen-md-min) {
		display: block;
	}
}

.user-menu {
	float: right;
	@include max-width($screen-md-min) {
		display: none;
	}
	ul {
		display: table;
		height: 68px;
		border-left: 1px solid #F4F4F4;
		li {
			display: inline-block;
			vertical-align: middle;
			a {
				display: table-cell;
				vertical-align: middle;
				height: 68px;
				padding: 0 25px;
				@include max-width($container-lg){
					padding: 0 17px;
					font-size: 13px;
				}
				&:hover {
					background: #F4F4F4;
				}
			}
		}
		.user-logged {
			&:focus {
				color: inherit;
			}
			> div {
				span {
					display: inline-block;
					max-width: 110px;
					vertical-align: middle;
					@include text-overflow();
				}
				img {
					margin-left: 8px;
					@include size(32px, 32px);
					border-radius: 100%;
				}
			}
		}
	}
}

.logged-dropdown-menu {
	min-width: 295px;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	z-index: $zindex-modal;
	li {
		a {
			padding: 15px 20px;
			color: #888888;
			i {
				padding-right: 10px;
				vertical-align: middle;
				font-size: 12px;
			}
		}
	}
}

.search-btn {
	position: absolute;
	right: 186px;
	@include size(68px, 68px);
	display: table-cell;
	font-size: 20px;
	color: #888888;
	i {vertical-align: middle;}
	&:hover {
		color: darken(#888888, 20%);
	}
	@include max-width($container-lg){
		right: 156px;
	}
	@include max-width($screen-md-min) {
		right: 0;
	}
}

.search-btn.search-btn-logout {
	right: 80px;
}
